:root {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  padding: 0px 50px 0px 50px;
  background-color: rgb(226, 247, 255);
}

.navbar {
  margin-bottom: 10px;
}

.acc{
  margin: 10px 5px 0 0;
}

.signout_btn {
  align-items: center;
  background-color: #ffe7e7;
  background-position: 0 0;
  border: 1px solid #fee0e0;
  border-radius: 11px;
  box-sizing: border-box;
  color: #d33a2c;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  line-height: 33.4929px;
  list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg)none;
  padding: 2px 12px;
  text-align: left;
  text-decoration: none;
  text-shadow: none;
  text-underline-offset: 1px;
  transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  word-break: break-word;
  margin-left: 10px;
}

.signout_btn:active,
.signout_btn:hover,
.signout_btn:focus {
  outline: 0;
}

.signout_btn:active {
  background-color: #d33a2c;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #ffffff;
}

.signout_btn:hover {
  background-color: #ffe3e3;
  border-color: #faa4a4;
}

.signout_btn:active:hover,
.signout_btn:focus:hover,
.signoout_btn:focus {
  background-color: #d33a2c;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #ffffff;
}